/* Quote Section */
.quote-section {
    background-color: var(--secondary-color);
    border-color: var(--compliment-color);
    border-style: solid;
    border-width: 2px;
    padding: 1em;
    margin: 1em 0;
}

.quote-section p {
    font-family: 'Patrick Hand', cursive;
    font-style: italic;
    text-align: center;
    margin: 0.5em 0;
}