/***** Header & Header Parts *****/
header {
    background-color: var(--primary-color);
    border-color: var(--compliment-color);
    border-style: solid;
    border-width: 2px;
}

header .flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    gap: 1em;
}

header img {
    flex: 0 0 auto;
    width: 30%;
    max-height: 200px;
    border-radius: 1em;
}

header .intro-column {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    border-color: red;
    border-style: solid;
    padding: 1em;
}

header .text-container {
    padding: 1em;
}

header h1 {
    padding-bottom: 0.5em;
}

header .button-row {
    align-self: center;
}

header .button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 1em;
    border-color: var(--compliment-color);
    border-style: solid;
    border-width: 2px;
}

/* Continued Doc */